* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Pretendard Variable", sans-serif;
  word-break: keep-all;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
div,
span {
  white-space: pre-wrap;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

:root {
  --max-width: 984px;
}
